.d-container {
    margin-inline: auto;
    margin: auto;
    padding: 0 15px;
}

.main {
    padding: 50px 0;
}

.aside {
    display: none;
}

.filter-products-sm {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.search-bar {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--light-gray);
    display: flex;
    align-items: center;
    gap: 10px;
}

.h2 {
    color: black;
    line-height: 1.3;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
}

.products {
    margin-top: 60px;
}

.product-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.product-card {
    border-radius: 10px;
    box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.4);
}

.product-card figure img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-description {
    padding: 15px;
}

/* dropdown */
.dropdown {
    /* max-width: 15em; */
    position: relative;
    margin: 1em 0;
}

.select {
    /* background: var(--light-gray); */
    color: var(--roman-silver);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    text-transform: capitalize;
    border: 2px solid var(--light-gray);
    border-radius: 10px;

}

.select-clicked {
    /* border: 2px solid #26489a; */
    box-shadow: 0 0 3px #26489a;
}

.select:hover {
    background: var(--light-gray);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--roman-silver);
    transition: 0.3s;
    margin-left: 1em;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu-list {
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--light-gray);
    border: 1px solid var(--light-blue);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: var(--roman-silver);
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu-list li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    cursor: pointer;
    border-radius: 0.5em;
}

.menu-list li:hover {
    background: #2a2d35;
}

.menu-list .active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

@media (min-width: 650px) {
    /**
     * REUSED STYLE 
     */

    .d-container {
        padding: 0 10px;
    }

    .product-card-list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .products .h2 {
        position: relative;
        text-align: left;
        padding-left: 20px;
    }

    .products .h2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        width: 5px;
        height: 100%;
        border-radius: 2px;
    }

    .filter-products-sm {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}

@media (min-width: 768px) {

    /**
     * REUSED STYLE 
     */

    .d-container {
        max-width: 900px;
    }
}

@media (min-width: 1024px) {
    /**
     * REUSED STYLE 
     */

    .d-container {
        max-width: 100%;
    }

    /**
     * MAIN 
     */

    .main .d-container {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 20px;
    }

    .aside {
        padding: 50px 0;
        display: block;
        align-self: stretch;
    }

    .aside .contact {
        padding: 15px;
        box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.4);
        margin-bottom: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .contact a {
        margin-top: 10px;
        font-size: 15px;
        background: var(--light-blue);
        padding: 10px;
        color: #fff;
        border-radius: 5px;
    }

    .contact .contact-btns {
        display: flex;
        justify-content: center;
        gap: 6px;
    }

    .contact-btns a {
        display: flex;
        gap: 7px;
        align-items: center;
    }

    .contact-btns a:nth-child(1) {
        background: #23242a;
        transition: .3s;
    }

    .contact-btns a:nth-child(1):hover {
        background: #15161a;
    }

    .contact-btns a:nth-child(2) {
        background: #058016;
        transition: .3s;
    }

    .contact-btns a:nth-child(2):hover {
        background: #046310;
    }

    .filter-products {
        box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.4);
        border-radius: 10px;
        padding: 10px;
        position: sticky;
        top: 10rem;
        margin-bottom: 98px;
    }

    .price-filter {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 1em 0;
    }

    .price-filter input {
        padding: 10px;
        background: var(--light-gray);
    }

    .search-input {
        padding: 20px;
        background: var(--marigold);
        margin: 20px 0;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
    }

    /*  */
    .filter-products-sm {
        display: none;
    }
}